body {
	background: grey;
  display: flex;
  justify-content: center;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

button {
  border: none;
  border-radius: 10px;
  height: 30px;
  margin: 20px;
  width: 100px;
}

canvas {
	background: lightgrey;
	border: 1px solid;
  cursor: cell;
}
