/*html {
  height: 100%;
}*/

body {
	background: linear-gradient(black, #5C7689) no-repeat;
  display: flex;
  height: 100%;
  justify-content: center;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

button {
  border: none;
  border-radius: 10px;
  height: 30px;
  margin: 20px;
  width: 100px;
}

canvas {
	background: url('./images/city-of-dawn.jpg') no-repeat ;
  background-position: left;
  background-size: cover; 
	border: 1px solid;
  cursor: url('./images/focus.png') 12 12, auto;

  /*needs refactor*/
  margin: 10vh auto;
}
