body {
	background-color: grey;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;

}

canvas {
	background-color: lightgrey;
	border: 1px solid;
  cursor: cell;
}